*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
alarmfax-ocr/src/test/java/de/friedrichs/alarmfax/ocr/TesseractHandlerTest.java
alarmfax-ocr/src/test/resources/Test_Fax_1.tif
alarmfax-ocr/src/test/resources/Test_Fax_2.tif
alarmfax-ocr/src/test/resources/Cisco_fax.tif
alarmfax-ocr/src/test/resources/Cisco_fax (3).tif
alarmfax-ocr/src/test/resources/Cisco_fax (2).tif
alarmfax-ocr/src/test/resources/Cisco_fax (1).tif
/alarmfax-ocr/target/
/alarmfax-core/target/
/alarmfax-ocr/src/test/resources/KonradAdenauerStr.tif
/alarmfax-ocr/src/test/resources/Salhofstr.tif
/alarmfax-ocr/src/test/resources/Oberwiese.tif
/alarmfax-ocr/src/test/resources/RodheimerWald.tif
/alarmfax-ocr/src/test/resources/Klappergasse.tif
/alarmfax-ocr/src/test/resources/KarlsbaderStr.tif
/alarmfax-maps/target/
/alarmfax-monitor/target/